.nav-bar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 60px 110px;
}
.nav-icon {
  display: flex;
  text-align: center;
}
.nav-icon h2 {
  margin-left: 15px;
  font-size: 30px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  font-size: 25px;
}
.nav-link:first-child {
  margin-right: 40px;
  color: #e2b887;
}
.nav-link:last-child {
  padding: 10px 25px;
  border-radius: 7px;
  background-color: #e2b887;
  color: #00302e;
  margin-left: 40px;
}
